@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    box-sizing: border-box;
}
:root {
    --padding-container: 100px 0;
    --color-title: black;

    --color-fondo: #201520;
    --color-header: rgba(112, 67, 65, 0.30);
    --color-negro: #000;
    --color-blanco: #EFE3C8;
    --text-color: #323031;
    --marathon: #024983;
}
body{
    background-image: linear-gradient(180deg, #0000008C 0%, #0000008C 100%), url("../img/fondocontacto.jpg");
    background-size: cover;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 0 1.5em;
}
.content{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.logo{
    text-align: center;
    font-size: 3em;
}
.contact-wrapper{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}
.contact-wrapper > *{
    padding: 1em;
}
.contact-form{
    background: #323031;

}
.contact-info{
    background:  rgba(112, 67, 65, 0.30);
}
.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-form form .block{
    grid-column: 1/3;
}
.contact-form form button:hover,
.contact-form form button:focus{
    background: #d4a300;
    color: #000;
    transition: background-color 1s ease-out;
    outline: 0;
}
.contact-form form p{

    margin: 0;
    padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #d4a300;
    color: #ffff;
}
.contact-form form button{
    background: #d4a300;
    border : 0;
    text-transform: uppercase;
    padding: 1em;
    color:#ffff;
}
.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;

}
.contact-info ul{
    list-style: none;
    padding: 0; 
}
.contact-info ul li{
    padding: .3em;
}
/* LARGE SCREEN */
@media (min-width: 700px){
    body{
        padding: 0 4rem;
    }
    .contact-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > *{
        padding: 2em;   
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p{
        padding: 1em;
        text-align: left;
    }
}

.nav{
    margin-top: 16px !important;
}
